*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: lightskyblue;
}

.addremove-cart button{
    cursor: pointer;
}
.content{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;

}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px;
    height: 100vh;
    width: 100vw;
    grid-gap: 10px;
    max-height: 420px;
}
button{
    padding: 2px 5px 2px 5px;
    font-family: Avenir;
    background-color: hotpink;
    color: white;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 10px 10px white;
}
button:hover{

    background-color: lightskyblue;
}
.disabled{
    background-color: lightgray;
}
.variant-names{
    font-size: 20px;
    background-color: hotpink;
    box-shadow: 10px 10px lightskyblue;
    width: 50%;
    padding-left: 10px;


}

.info-bloc{
    margin-bottom: 40px;
    margin-top: 30px;
}
.addremove-cart{
    display: flex;
    justify-content: space-evenly;

}
.cart-item{
    padding-top: 20px;
    background-color: pink;
    height: 10%;
    width: 100%;
}
.nav-bar{

    background: linear-gradient(135deg, hotpink, deepskyblue);
    width: 100%;
    height: 40px;
    position: fixed;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.Cart{
    width: 70px;
    padding: 1px 1px 1px 1px;
    background-color: lightskyblue;
    font-size: 20px;
    box-shadow: 10px 10px white;
}
.product-description{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: pink;
    text-align: left;
    vertical-align: middle;
    line-height: normal;
    font-family: Avenir;
    font-size: 15px;
    color: white;
    padding-left: 10px;
}


.product-info{
    grid-column: 2/4 ;
    grid-row: 1/2;
    background-color: pink;
    font-family: Avenir;
    font-size: 30px;
    color: white;
    padding-left: 10px;
    padding-bottom: 20px;


}

.color-box{
    width:40px;
    height:40px;
    margin-top: 5px;
}
.details{
    font-size: 20px;
    list-style-type: none;
}
.onsale{
    text-decoration: blink;
    background-color: pink;
    font-family: Avenir;
    font-size: 30px;
    font-weight: bold;
    color: white;
}


img {
    max-width: 90%;
    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
   vertical-align: middle;
    height: auto;
    padding-bottom: 20px;
    justify-items: center;

}


.title{
    grid-column: 1/3;
    text-align: left;
    vertical-align: middle;
    font-family: Avenir;
    font-size: 30px;
    color: white;
    padding-top: 1%;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;

}


