<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Store</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<div class="wrapper" id="app">
  <div class="nav-bar">
    <div class="title">Shoe Store</div>

  </div>
  <div class="product-description">
    <h1>{{product}}</h1>
    <img v-bind:src="image">
  </div>

  <div class="product-info">
    <p v-if="inventory>10">In Stock</p>
    <p v-else>Out of Stock</p>
    <span id="blinker" class="onsale" v-if="onSale">On sale!</span>
    <ul>
      <li class = "details" v-for="detail in details"> {{detail}}</li>
    </ul>

    <button v-on:click="addToCart">Add to cart</button>
    <button v-on:click="removeCart">Remove from cart</button>
    <div class="Cart">
      <p>Cart: {{cart}}</p>
    </div>
  </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src = "main.js"></script>


</body>
</html>